<div class="modal fade" id="realTimeDeliveryDispatch" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">배차 가능 라이더 목록</h3>
              </div>
              <div class="card-body">
                <table id="tb_dispatchRider" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>지점 ID</th>
                    <th>ID</th>
                    <th>이름</th>
                    <th>연락처</th>
                    <th>배차수</th>
                  </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_dispatchRider" type="button" class="btn btn-primary">배차</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
