<div class="modal fade" id="storeModifySurcharge" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">야간 할증</h3>
                <div class="card-tools">
                  <input id="u_stoNightSrchrApplyYn" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="적용" data-off="미적용" data-onstyle="primary" data-offstyle="dark">
                </div>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-unbordered">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <div class="input-group">
                        <div class="input-group-prepend col-4">
                          <button type="button" class="btn btn-sm btn-nomal"><b>시작 시간</b></button>
                        </div>
                        <input id="u_stoNightSrchrStdTm" type="text" class="form-control form-control-sm" >
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <div class="input-group">
                        <div class="input-group-prepend col-4">
                          <button type="button" class="btn btn-sm btn-nomal"><b>종료 시간</b></button>
                        </div>
                        <input id="u_stoNightSrchrEndTm" type="text" class="form-control form-control-sm" >
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <div class="input-group">
                        <div class="input-group-prepend col-4">
                          <button type="button" class="btn btn-sm btn-nomal"><b>할증 금액</b></button>
                        </div>
                        <input id="u_stoNightSrchrAmnt" type="text" class="form-control form-control-sm" >
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">기타 할증</h3>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-unbordered">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <div class="input-group">
                        <input id="u_srchrCn1" type="text" class="form-control form-control-sm" placeholder="할증 내용">
                        <input id="u_srchrAmnt1" type="text" class="form-control form-control-sm" placeholder="할증 금액">
                        <input id="srchrApplyYn1" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="적용" data-off="미적용" data-onstyle="primary" data-offstyle="dark">
                      </div>
                   </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <div class="input-group">
                        <input id="u_srchrCn2" type="text" class="form-control form-control-sm" placeholder="할증 내용">
                        <input id="u_srchrAmnt2" type="text" class="form-control form-control-sm" placeholder="할증 금액">
                        <input id="srchrApplyYn2" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="적용" data-off="미적용" data-onstyle="primary" data-offstyle="dark">
                      </div>
                   </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <div class="input-group">
                        <input id="u_srchrCn3" type="text" class="form-control form-control-sm" placeholder="할증 내용">
                        <input id="u_srchrAmnt3" type="text" class="form-control form-control-sm" placeholder="할증 금액">
                        <input id="srchrApplyYn3" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="적용" data-off="미적용" data-onstyle="primary" data-offstyle="dark">
                      </div>
                   </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <div class="input-group">
                        <input id="u_srchrCn4" type="text" class="form-control form-control-sm" placeholder="할증 내용">
                        <input id="u_srchrAmnt4" type="text" class="form-control form-control-sm" placeholder="할증 금액">
                        <input id="srchrApplyYn4" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="적용" data-off="미적용" data-onstyle="primary" data-offstyle="dark">
                      </div>
                   </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <div class="input-group">
                        <input id="u_srchrCn5" type="text" class="form-control form-control-sm" placeholder="할증 내용">
                        <input id="u_srchrAmnt5" type="text" class="form-control form-control-sm" placeholder="할증 금액">
                        <input id="srchrApplyYn5" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="적용" data-off="미적용" data-onstyle="primary" data-offstyle="dark">
                      </div>
                   </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <div class="input-group">
                        <input id="u_srchrCn6" type="text" class="form-control form-control-sm" placeholder="할증 내용">
                        <input id="u_srchrAmnt6" type="text" class="form-control form-control-sm" placeholder="할증 금액">
                        <input id="srchrApplyYn6" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="적용" data-off="미적용" data-onstyle="primary" data-offstyle="dark">
                      </div>
                   </div>
                  </li>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">저장</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
