<div class="modal fade" id="storeModifySpecial" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" >
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div id="u_setDefault" class="card card-info">
              <div class="card-header">
                <h3 class="card-title">특수 지역 요금</h3>
              </div>
              <div id="u_setSpecial" class="card-body">
                <button id="btn_specialInst" type="button" class="btn btn-sm btn-primary float-sm-right mb-2"><i class="fa fa-plus mr-2"></i>추가</button>
                <table id="tb_special" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>설정일련번호</th>
                    <th>상점ID</th>
                    <th>명칭</th>
                    <th>금액</th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_modifySpecial" type="button" class="btn btn-primary">저장</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
