<div class="modal fade" id="storeModifySpecialMap" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" >
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="card card-info" style="height : calc(100vh - (14rem + 4px) )">
              <div class="card-header">
                <h3 class="card-title">특수 지역 지도</h3><strong class="text-warning"><b> ※그리기시 이전에 그린 내용은 삭제 됩니다. 그리기후 꼭 저장버튼을 눌러주세요.</b></strong>
                <div class="card-tools">
                  <button id="btn_reDraw" type="button" class="btn btn-sm btn-primary">그리기</button>
                </div>
              </div>
              <div class="card-body">
                <div id="specialMap" class="w-100 h-100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_modifySpecialMap" type="button" class="btn btn-primary">저장</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
