<div class="modal fade" id="storeModifyFee" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" >
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div id="u_setDefault" class="card card-info">
              <div class="card-header">
                <h3 class="card-title">지역/거리별 요금</h3>
                <div class="card-tools">
                  <input id="u_stoSetSeCd" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="지역" data-off="거리" data-onstyle="warning" data-offstyle="danger">
                </div>
              </div>
              <div id="u_setArea" class="card-body">
                <button id="btn_areaInst" type="button" class="btn btn-sm btn-primary float-sm-right mb-2"><i class="fa fa-plus mr-2"></i>추가</button>
                <table id="tb_area" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>설정일련번호</th>
                    <th>상점ID</th>
                    <th>시도</th>
                    <th>시군구</th>
                    <th>읍면동</th>
                    <th>리</th>
                    <th>금액</th>
                    <th></th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div id="u_setDistance" class="card-body">
                <button id="btn_distanceInst" type="button" class="btn btn-sm btn-primary float-sm-right mb-2"><i class="fa fa-plus mr-2"></i>추가</button>
                <table id="tb_distance" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>설정일련번호</th>
                    <th>상점ID</th>
                    <th>시작 거리(Km)</th>
                    <th>종료 거리(Km)</th>
                    <th>금액</th>
                    <th></th>
                  </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_modifyFee" type="button" class="btn btn-primary">저장</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
