<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="Um jun-Ho">
   <meta name="generator" content="Um jun-Ho">
   <title>(BAMS)Bikeda Administrator Management System</title>

   <!-- Bootstrap core CSS -->
   <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">

   <!-- Toast CSS -->
   <link type="text/css" rel="stylesheet" href="/css/toast/toast.min.css">

   <!-- Application CSS -->
   <link type="text/css" rel="stylesheet" href="/css/application.css">
</head>
