<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Bikeda</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="subMenu" data-toggle="dropdown" aria-expanded="false" href="#">지점</a>
        <div class="dropdown-menu" aria-labelledby="subMenu">
          <a class="dropdown-item" href="#" id="sub1">지점 현황</a>
          <a class="dropdown-item" href="#" id="sub1">지점 현황</a>
          <a class="dropdown-item" href="#" id="sub2">지점 포인트 현황</a>
          <a class="dropdown-item" href="#" id="sub3">지점 공유 내역 현황</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="subMenu" data-toggle="dropdown" aria-expanded="false" href="#">상점</a>
        <div class="dropdown-menu" aria-labelledby="subMenu">
          <a class="dropdown-item" href="#" id="sub4">상점 현황</a>
          <a class="dropdown-item" href="#" id="sub5">상점 포인트 현황</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="subMenu" data-toggle="dropdown" aria-expanded="false" href="#">라이더</a>
        <div class="dropdown-menu" aria-labelledby="subMenu">
          <a class="dropdown-item" href="#" id="sub4">라이더 현황</a>
          <a class="dropdown-item" href="#" id="sub5">라이더 포인트 현황</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="subMenu" data-toggle="dropdown" aria-expanded="false" href="#">주문</a>
        <div class="dropdown-menu" aria-labelledby="subMenu">
          <a class="dropdown-item" href="#" id="sub4">주문 현황</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</header>
