<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Bikeda</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="subMenu" data-toggle="dropdown" aria-expanded="false" href="#">Menu1</a>
        <div class="dropdown-menu" aria-labelledby="subMenu">
          <a class="dropdown-item" href="#" id="sub1">Sub1</a>
          <a class="dropdown-item" href="#" id="sub2">Sub2</a>
          <a class="dropdown-item" href="#" id="sub3">Sub3</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="subMenu" data-toggle="dropdown" aria-expanded="false" href="#">Menu2</a>
        <div class="dropdown-menu" aria-labelledby="subMenu">
          <a class="dropdown-item" href="#" id="sub4">Sub4</a>
          <a class="dropdown-item" href="#" id="sub5">Sub5</a>
          <a class="dropdown-item" href="#" id="sub6">Sub6</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</header>
