<!DOCTYPE html>
<html lang="ko" class="h-100">
<%- include('include_header.ejs') %>
<body class="text-center">
  <form class="form-signin">
  <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">바이크다 관리자 로그인</h1>
  <label for="inputEmail" class="sr-only">Admin ID</label>
  <input type="text" id="adminId" class="form-control" placeholder="Admin ID" required="" autofocus="">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="adminPassword" class="form-control" placeholder="Password" required="">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> ID 저장
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" id="btn_login">로그인</button>
  <p class="mt-5 mb-3 text-muted">Bikeda© 2020</p>
</form>

<%- include('include_footer.ejs') %>
</body>
</html>
