<!DOCTYPE html>
<html class="text-xs">
<%- include('header') %>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <%- include('topMenu') %>
  <%- include('sideMenu') %>
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>배달 대행 내역&nbsp;<small class="text-danger">※배달이 완료된 내역만 표시됩니다.</small></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/branch/main/realTimeDelivery">Home</a></li>
              <li class="breadcrumb-item">통계</li>
              <li class="breadcrumb-item">배달 대행 내역</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- 배달 현황 -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="input-group col-4">
                    <label class="col-form-label"><strong>조회 기간&nbsp;&nbsp;&nbsp;</strong></label>
                    <input type="text" id="s_stdDate" class="form-control datetimepicker-input" data-target="#s_stdDate"/>
                    <div class="input-group-append" data-target="#s_stdDate" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                    </div>
                    <label class="col-form-label"><strong>&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;</strong></label>
                    <input type="text" id="s_endDate" class="form-control datetimepicker-input" data-target="#s_endDate"/>
                    <div class="input-group-append" data-target="#s_endDate" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                    </div>
                  </div>
                  <div class="input-group col-1">
                    <button id="btn_search" type="button" class="form-control btn btn-primary">검색</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table id="tb_delivery" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th rowspan="2" class="thead-center">배달 번호</th>
                    <th rowspan="2" class="thead-center">상점</th>
                    <th rowspan="2" class="thead-center">배달 주소</th>
                    <th rowspan="2" class="thead-center">결제</th>
                    <th rowspan="2" class="thead-center">배달일시</th>
                    <th rowspan="2" class="thead-center">배달요금</th>
                    <th rowspan="2" class="thead-center">부가세</th>
                    <th colspan="4" class="thead-center">수수료</th>
                    <th rowspan="2" class="thead-center">라이더</th>
                  </tr>
                  <tr>
                    <th class="thead-center">본사</th>
                    <th class="thead-center">지점</th>
                    <th class="thead-center">라이더</th>
                    <th class="thead-center">공유</th>
                  </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer class="main-footer">
    <strong>Copyright &copy; 2020 Delivery Lab.</strong>All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
<%- include('footer') %>
<script src="/js/branch/delivery.js"></script>
</body>
</html>
