<div class="modal fade" id="deliveryDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">상점</h3>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>ID</b> <a id="stoId" class="float-right"></a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>상호</b> <a id="stoMtlty"class="float-right"></a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>전화번호</b> <a id="stoCelno"class="float-right"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">라이더</h3>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>ID</b> <a id="riderId" class="float-right"></a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>이름</b> <a id="riderNm" class="float-right"></a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>전화번호</b> <a id="riderCelno" class="float-right"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">주문 정보</h3>
                <div class="card-tools">
                  <span id="dlvryStateCd" class="badge"></span>
                </div>
              </div>
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>배달 번호</b> <a id="dlvryNo" class="float-right"></a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>지번 주소</b> <a id="dlvryCusAdres" class="float-right"></a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>도로명 주소</b> <a id="dlvryCusRoadAdres" class="float-right"></a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>상세 주소</b> <a id="dlvryCusDetlAdres" class="float-right"></a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-6">
                      <b>전화번호</b> <a id="dlvryCusTelno" class="float-right"></a>
                    </div>
                    <div class="col-6">
                      <b>접수 일시</b> <a id="dlvryRecvDt" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-6">
                      <b>음식금액</b><a id="dlvryFoodAmnt" class="float-right"></a><span id="dlvryPaySeCd" class="float-right badge"></span>
                    </div>
                    <div class="col-6">
                      <b>시간(분)</b> <a id="dlvryPickReqTm" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-6">
                      <b>배달금액</b> <a id="dlvryAmnt" class="float-right"></a>
                    </div>
                    <div class="col-6">
                      <b>거리(km)</b> <a id="dlvryDstnc" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>요청 사항</b> <a id="dlvryReqCn" class="float-right"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" id="modalType" name="modalType">
        <div id="cancel" class="row">
          <div class="col-12 text-center">
            <h4 class="text-danger">해당 배달 정보를 취소 하시겠습니까?</h4>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_cancel" type="button" class="btn btn-danger">취소</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deliveryDispatchModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">배차 가능 라이더 목록</h3>
                <div class="card-tools">
                  <span id="dlvryStateCd" class="badge"></span>
                </div>
              </div>
              <div class="card-body">
                <table id="tb_dispatchRider" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>지점 ID</th>
                    <th>ID</th>
                    <th>이름</th>
                    <th>연락처</th>
                    <th>배차수</th>
                  </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_dispatchRider" type="button" class="btn btn-primary">배차</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
