<!DOCTYPE html>
<html class="text-xs">
<%- include('header') %>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <%- include('topMenu') %>
  <%- include('sideMenu') %>
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-4">
            <h1>라이더 포인트</h1>
          </div>
          <div class="col-sm-4">
            <h4 id="totPoint"></h4>
          </div>
          <div class="col-sm-4">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/branch/main/realTimeDelivery">Home</a></li>
              <li class="breadcrumb-item">포인트</li>
              <li class="breadcrumb-item">라이더 포인트</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="input-group col-2">
                    <label class="col-form-label"><strong>기사명&nbsp;&nbsp;&nbsp;</strong></label>
                    <select class="form-control select2" id="s_riderId">
                    </select>
                  </div>
                  <div class="input-group col-1">
                    <button id="btn_search" type="button" class="form-control btn btn-primary">검색</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table id="tb_point" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>기사명</th>
                      <th>전화 번호</th>
                      <th>출금은행</th>
                      <th>잔여포인트</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <footer class="main-footer">
    <strong>Copyright &copy; 2020 Bikeda.</strong>All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
<%- include('footer') %>
<script src="/js/branch/riderPoint.js"></script>
</body>
</html>
