<div class="modal fade" id="storeRegModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">상점 정보 등록</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <section class="col-lg-6">
                    <ul class="list-group list-group-unbordered">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>사업자 번호</b></button>
                            </div>
                            <input id="r_stoBsnsRgnmb" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>상호</b></button>
                            </div>
                            <input id="r_stoMtlty" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>성명</b></button>
                            </div>
                            <input id="r_stoRprsntvNm" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>개업년월일</b></button>
                            </div>
                            <input id="r_stoOpnngYmd" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>주소</b></button>
                            </div>
                            <input id="r_stoBsnsPlaceAdres" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>업태</b></button>
                            </div>
                            <input id="r_stoBizcnd" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>종목</b></button>
                            </div>
                            <input id="r_stoInduty" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                    </ul>
                  </section>
                  <section id="r_bizDefault" class="col-lg-6" >
                    <ul class="list-group list-group-unbordered">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>연락처</b></button>
                            </div>
                            <input id="r_stoTelno" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>가상계좌번호</b></button>
                            </div>
                            <input id="r_stoVrtlAcnt" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <input id="r_stoBizSeCd" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="개인" data-off="법인" data-onstyle="danger" data-offstyle="success">
                        </div>
                      </li>
                    </ul>
                    <ul id='r_bizPrivate' class="list-group list-group-unbordered">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>생년월일</b></button>
                            </div>
                            <input id="r_stoBrdYmd" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                    </ul>
                    <ul id='r_bizCrprt' class="list-group list-group-unbordered">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>법인번호</b></button>
                            </div>
                            <input id="r_stoCrprtRgnmb" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>본점주소</b></button>
                            </div>
                            <input id="r_stoHdofcAdres" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                    </ul>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">저장</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="storeModModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">상점 정보 변경</h3>
                <div class="card-tools">
                  <input id="u_stoStateCd" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="정상" data-off="탈회" data-onstyle="primary" data-offstyle="dark">
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <section class="col-lg-6">
                    <ul class="list-group list-group-unbordered">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>ID</b></button>
                            </div>
                            <input id="u_stoId" type="text" class="form-control form-control-sm" disabled>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>사업자 번호</b></button>
                            </div>
                            <input id="u_stoBsnsRgnmb" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>상호</b></button>
                            </div>
                            <input id="u_stoMtlty" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>성명</b></button>
                            </div>
                            <input id="u_stoRprsntvNm" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>개업년월일</b></button>
                            </div>
                            <input id="u_stoOpnngYmd" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>주소</b></button>
                            </div>
                            <input id="u_stoBsnsPlaceAdres" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>업태</b></button>
                            </div>
                            <input id="u_stoBizcnd" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>종목</b></button>
                            </div>
                            <input id="u_stoInduty" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                    </ul>
                  </section>
                  <section id="u_bizDefault" class="col-lg-6" >
                    <ul class="list-group list-group-unbordered">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>연락처</b></button>
                            </div>
                            <input id="u_stoTelno" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>가상계좌번호</b></button>
                            </div>
                            <input id="u_stoVrtlAcnt" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <input id="u_stoBizSeCd" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="개인" data-off="법인" data-onstyle="danger" data-offstyle="success">
                        </div>
                      </li>
                    </ul>
                    <ul id='u_bizPrivate' class="list-group list-group-unbordered">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>생년월일</b></button>
                            </div>
                            <input id="u_stoBrdYmd" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                    </ul>
                    <ul id='u_bizCrprt' class="list-group list-group-unbordered">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>법인번호</b></button>
                            </div>
                            <input id="u_stoCrprtRgnmb" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend col-4">
                              <button type="button" class="btn btn-sm btn-nomal"><b>본점주소</b></button>
                            </div>
                            <input id="u_stoHdofcAdres" type="text" class="form-control form-control-sm">
                          </div>
                        </div>
                      </li>
                    </ul>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">저장</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="storeDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">상점 정보</h3>
                <div class="card-tools">
                  <input id="stoStateCd" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="정상" data-off="탈회" data-onstyle="primary" data-offstyle="dark">
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <section class="col-lg-6 col-12">
                    <ul class="list-group list-group-unbordered">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <b>ID</b> <a id="stoId" class="input float-right"></a>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <b>사업자 번호</b> <a id="stoBsnsRgnmb" class="float-right"></a>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <b>상호</b> <a id="stoMtlty" class="float-right"></a>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <b>성명</b> <a id="stoRprsntvNm" class="float-right"></a>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <b>개업년월일</b> <a id="stoOpnngYmd" class="float-right"></a>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <b>주소</b> <a id="stoBsnsPlaceAdres" class="float-right"></a>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <b>업태</b> <a id="stoBizcnd" class="float-right"></a>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <b>종목</b> <a id="stoInduty" class="float-right"></a>
                        </div>
                      </li>
                    </ul>
                  </section>
                  <section id="bizDefault" class="col-lg-6 col-12" >
                    <ul class="list-group list-group-unbordered">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <b>연락처</b> <a id="stoTelno" class="float-right"></a>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <b>가상계좌번호</b> <a id="stoVrtlAcnt" class="float-right"></a>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <input id="stoBizSeCd" class="float-right" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="개인" data-off="법인" data-onstyle="danger" data-offstyle="success">
                        </div>
                      </li>
                    </ul>
                    <ul id='bizPrivate' class="list-group list-group-unbordered">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <b>생년월일</b> <a id="stoBrdYmd" class="float-right"></a>
                        </div>
                      </li>
                    </ul>
                    <ul id='bizCrprt' class="list-group list-group-unbordered">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <b>법인번호</b> <a id="stoCrprtRgnmb" class="float-right"></a>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-12">
                          <b>본점주소</b> <a id="stoHdofcAdres" class="float-right"></a>
                        </div>
                      </li>
                    </ul>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <section class="col-xl-6 col-12">
            <div id="setDefault" class="card card-info">
              <div class="card-header">
                <h3 class="card-title">지역/거리별 할증 요금</h3>
                <div class="card-tools">
                  <input id="stoSetSeCd" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="지역" data-off="거리" data-onstyle="warning" data-offstyle="danger">
                </div>
              </div>
              <div id="setArea" class="card-body">
                <ul id="setAreaList" class="list-group list-group-unbordered">
                </ul>
              </div>
              <div id="setDistance" class="card-body">
                <ul id="setDistanceList" class="list-group list-group-unbordered">
                </ul>
              </div>
            </div>
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">기후/환경 할증 요금</h3>
              </div>
              <div class="card-body">
                <ul id="surchargeList" class="list-group list-group-unbordered">
                </ul>
              </div>
            </div>
          </section>
          <section class="col-xl-6 col-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">야간 할증 요금</h3>
                <div class="card-tools">
                  <input id="stoNightSrchrApplyYn" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="적용" data-off="미적용" data-onstyle="primary" data-offstyle="dark">
                </div>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-unbordered">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>할증 시간</b>
                      <a id="stoNightSrchrTm" class="float-right">00:00:00 ~ 00:00:00</a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>할증 금액</b> <a id="stoNightSrchrAmnt" class="float-right">1,000</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">특수 지역 할증</h3>
                <div class="card-tools">
                  <button type="button" data-toggle="modal" data-target="#storeSpecialModal" class="btn btn-sm btn-primary float-right">지도</button>
                </div>
              </div>
              <div id="setSpecial" class="card-body">
                <ul id="setSpecialList" class="list-group list-group-unbordered">
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="storeSpecialModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content" >
      <div class="modal-body" style="height : 50vh">
        <div id="map" class="w-100 h-100"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
