<div class="modal fade" id="storeDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <section class="col-6">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">기본 정보</h3>
                <div class="card-tools">
                  <span id="stoStateCd" class="badge"></span>
                </div>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>ID</b> <a id="stoId" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>연락처</b> <a id="stoTelno" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>관리지점</b> <a id="brcofcNm" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>가상계좌번호</b> <a id="stoVrtlAcnt" class="float-right"></a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div id="bizDefault" class="card card-info">
              <div class="card-header">
                <h3 class="card-title">사업자 등록증 정보</h3>
                <div class="card-tools">
                  <span id="stoBizSeCd" class="badge"></span>
                </div>
              </div>
              <div id='bizPrivate' class="card-body">
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>사업자 등록번호</b><a id="stoBsnsRgnmb" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>상호</b><a id="stoMtlty" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-6">
                      <b>성명</b><a id="stoRprsntvNm" class="float-right"></a>
                    </div>
                    <div class="col-6">
                      <b>생년월일</b> <a id="stoBrdYmd" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>개업년월일</b> <a id="stoOpnngYmd" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>사업장소재지</b> <a id="stoBsnsPlaceAdres" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-6">
                      <b>업태</b> <a id="stoBizcnd" class="float-right"></a>
                    </div>
                    <div class="col-6">
                      <b>종목</b> <a id="stoInduty" class="float-right"></a>
                    </div>
                  </li>
                </ul>
              </div>
              <div id='bizCrprt' class="card-body">
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>사업자 등록번호</b><a id="stoBsnsRgnmb" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>법인명</b><a id="stoMtlty" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>대표명</b> <a id="stoRprsntvNm" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-6">
                      <b>개업년월일</b><a id="stoOpnngYmd" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>법인등록번호</b> <a id="stoCrprtRgnmb" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>사업장소재지</b> <a id="stoBsnsPlaceAdres" class="float-right"></a>
                    <div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>본점소재지</b> <a id="stoHdofcAdres" class="float-right"></a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-6">
                      <b>업태</b> <a id="stoBizcnd" class="float-right"></a>
                    </div>
                    <div class="col-6">
                      <b>종목</b> <a id="stoInduty" class="float-right"></a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section class="col-6">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">야간 할증</h3>
                <div class="card-tools">
                  <input id="stoNightSrchrApplyYn" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="적용" data-off="미적용" data-onstyle="primary" data-offstyle="dark">
                </div>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>할증 시간</b>
                      <a id="stoNightSrchrTm" class="float-right">00:00:00 ~ 00:00:00</a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-12">
                      <b>할증 금액</b> <a id="stoNightSrchrAmnt" class="float-right">1,000</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div id="setDefault" class="card card-info">
              <div class="card-header">
                <h3 class="card-title">할증 설정</h3>
                <div class="card-tools">
                  <input id="stoSetSeCd" type="checkbox" checked data-width="60" data-size="sm" data-toggle="toggle" data-on="구역" data-off="거리" data-onstyle="warning" data-offstyle="danger">
                </div>
              </div>
              <div id="setArea" class="card-body">
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>구역</b>
                    <a id="dlvryCusDetlAdres" class="float-right">00:00:00 ~ 00:00:00</a>
                  </li>
                </ul>
              </div>
              <div id="setDistance" class="card-body">
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>거리</b> <a id="dlvryCusDetlAdres" class="float-right">1,000</a>
                  </li>
                </ul>
              </div>
            </div>
          </section>


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
